<div class="container mb-5">
    <h2>Request Edit Form</h2>
    <div class="card mt-5">
     <form #myForm="ngForm" (submit)="editRequest()">
      <div class="card-header bg-warning">EDIT Request DETAILS</div>
      <div class="card-body">
            <div class="form-group">
              <label for="reimId">Reimbursement ID: </label>
              <!-- replaced text box for book id with the data being
                  display directly using string interpolation on the page
                  so that the user cannot update the primary key-->
              {{ updateRequest.reimId }}
           
            <div class="form-group">
                <label for="reimEmpId">Employee ID:</label>
                <input type="text" 
                        class="form-control" 
                        id="reimEmpId"  
                        name="reimEmpId"
                        required
                        [(ngModel)]="updateRequest.reimEmpId">
            </div>
            <div class="form-group">
            <label for="Reimbursement Amount">Reimbursement Amount:</label>
            <input type="text" 
                class="form-control" 
                id="reimAmount"  
                name="reimAmount"
                #bAmount="ngModel"
                (change)="logAmountChange(bAmount)"
                required
                [(ngModel)]="updateRequest.reimAmount">
            <div 
                *ngIf='bAmount.invalid' 
                class="text-danger small" >
                Reimbursement Amount is required!
            </div>
            </div>
      </div> 
      <div class="card-footer bg-warning">
          <button 
                type="submit" 
                [disabled]='!myForm.valid'
                class="btn btn-danger mr-5" (click) = "editRequest()">Update</button>
      </div>
    </div>
    </form>
    </div>
  </div>