<nav class="navbar navbar-expand-sm bg-black navbar-dark justify-content-center">
  <a class="navbar-brand" routerLink="home">SOS</a>  
  <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="home">HOME</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn() && retrieveUserType() == 'employee'">
        <a class="nav-link" routerLink="employeeHome">HOME</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn() && retrieveUserType() == 'manager'">
        <a class="nav-link" routerLink="managerHome">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shoes">SHOES</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn() && retrieveUserType() == 'employee'">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">REIMBURSEMENT</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="reimbursement">Reimburstments</a>
          <a class="dropdown-item" routerLink="resolved">My Resolved Reimburstments</a>
          <a class="dropdown-item" routerLink="pending">My Pending Reimburstments</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn() && retrieveUserType() == 'employee'">
        <a class="nav-link" routerLink="employeeProfile">PROFILE</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn() && retrieveUserType() == 'manager'">
        <a class="nav-link" routerLink="managerProfile">PROFILE</a>
      </li>
      <li class="nav-item dropdown onmouseover" *ngIf="isLoggedIn() && retrieveUserType() == 'manager'">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">REIMBURSEMENT</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="reimbursement">All Reimburstments</a>
          <a class="dropdown-item" routerLink="resolved">Resolved Reimburstments</a>
          <a class="dropdown-item" routerLink="pending">Pending Reimburstments</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="login">LOGIN</a>
      </li>
     <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="logout">LOGOUT</a>
      </li>
    </ul>
  </nav>