
<div class="container">
    <button 
        type="button" 
        class="btn btn-success bm-5"
        (click)="toggleAdd()">
        Add a New Request
    </button>
    <div *ngIf="flag" >
        <form #addForm="ngForm" class="form-inline tm-5" (submit)="addRequest()">
            <label for="reimEmpId" class="mb-2 mr-sm-2">ID:</label>
            <input 
                type="text" 
                class="form-control mb-2 mr-sm-2" 
                id="reimEmpId" 
                placeholder="Enter Employee ID" 
                name="ReimEmpId"
                required
                #bID="ngModel"
                [(ngModel)]="newRequest.reimEmpId">
                <span 
                    *ngIf="bID.invalid && bID.touched" 
                    class="text-danger small">ID REQUIRED!</span>
           <label for="reimAmount" class="mb-2 mr-sm-2">Amount:</label>
            <input 
                type="text" 
                class="form-control mb-2 mr-sm-2" 
                id="reimAmount" 
                placeholder="Enter Reimbursement Amount" 
                name="ReimAmount"
                required
                #bAmount="ngModel"
                [(ngModel)]="newRequest.reimAmount">
                <span *ngIf="bAmount.invalid && bAmount.touched" class="text-danger small">Amount required!</span>
            <button 
                type="submit" 
                [disabled]="!addForm.valid"
                class="btn btn-primary mb-2">ADD</button>
          </form>  
    </div>
    <h5 class="text-danger my-2">{{ errorMsg }}</h5>
    <h2>List of Requests</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Reimbursement ID</th>
          <th>Employee ID</th>
          <th>Reimbursement Amount</th>
          <th>Reimbursement Status</th>
          <th>Reimbursement Approved</th>
          <th>APPROVE</th>
          <th>DENY</th>
          <th>DELETE</th>
          <th>EDIT</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let view of allRequests">
            <td>{{ view.reimId }}</td>
            <td>{{ view.reimEmpId}}</td>
            <td>{{ view.reimAmount }}</td>
            <td>{{ view.reimStatus}}</td>
            <td>{{ view.reimApproved}}</td>
            <td><button type="button"><span class="material-icons" (click)="approveRequest()">thumb_up_alt</span></button> </td>
            <td><button type="button"><span class="material-icons" (click)="denyRequest()">thumb_down_off_alt</span></button></td>
            <td>
                <button 
                    type="button" 
                    class="btn btn-danger small"
                    (click)="removeRequest(newRequest.reimId)">
                    <span class="material-icons">delete</span>
                </button>
            </td>
            <td>
                <button 
                    type="button" 
                    class="btn btn-primary small"
                    (click)="goToEditComponent(newRequest.reimId)">
                    <span class="material-icons">edit</span>
                </button>
            </td>
            
        </tr>
      </tbody>
    </table>
  </div>
  