<div class="contatiner">
    <!-- <button type="button" class="btn btn-succes bm-4"
    (click)="toggleAdd()">Submit Request</button>

    <div *ngIf="flag">
        <form class="form-inline tm-4">
            <label for="reimAmount" class="mb-2 mr-sm-2">Amount: </label>
            <input type="text" class="form-control mb-2 mr-sm-2"
            id="reimAmount" placeholder="Enter Reimbursemnt Amount"
            name="ReimAmount"
            [(ngModel)] = "newRequest.reimAmount">

            <button type="button" class="btn btn-primary mb-3" (click)=addRequest()>SUBMIT</button>
        </form>
    </div> -->

    <h2>List of Requests</h2>     
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Request ID</th>
          <th>Employee ID</th>
          <th>Request Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of allRequests">
            <td>{{request.reimId}}</td>
            <td>{{request.reimEmpId}}</td>
            <td>{{request.reimAmount}}</td>
        </tr>
      </tbody>
    </table>
  </div>