<div class="container mt-4">
  <!-- <h2>WELCOME</h2> -->
  <div class="mt-3 p-5 text-grey rounded">
    <h1>Welcome to Stepping on Soles</h1> 
    <p>A place for everyone to come and not only sneakersheads.
        The vision for this business is to be a place where 
    
    A lovely place to stop and shop for some new kicks.

        Feel free to roam around but since this a prelanch website
        some feautres are not working fully but they will be added 
            before you know it.</p> 
  </div>
</div>
